{% extends "base.html" %} {% block title %}Player Profile{% endblock %}
{%block content%}
<body>
    <header>
        <div align='center' class="container">
            <h1>NFL Research Tool</h1>
            <p>Analyze past performance to make better sports betting decisions.</p>
        </div>
    </header>
    
    <br />
    <hr />
    <br />
    <div align='center' class="container">
        <section class="intro">
            <h2>What We Offer</h2>
            <p>Our tools provides in-depth player and team stats and AI-driven insights</p>
        </section>

        
        <br />
        <hr />
        <br />
        <section class="subscribe">
            <h3>Be the First to Know</h3>
            <p>Sign up now to get updates and early access when we go live!</p>
            <form action="/subscribe" method="POST">
                <input type="email" name="email" placeholder="Enter your email" required>
                <button type="submit">Subscribe</button>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </section>
    </div>

    <br />
    <footer>
        <div align='center' class="container">
            <p>&copy; 2025 NFL Research Tool. All rights reserved.</p>
        </div>
    </footer>

</body>


















{%endblock%}