

/* 
table th, table td {
    text-align: center; /* Centers the text */
    /* padding: 10px;      Adds space inside the cells */
    /* vertical-align: middle; Aligns the content vertically */
/* } */

/* table {
    max-width: 800px; /* Makes the table take up the full width of the container */
    /* margin: 0 auto; Adds spacing above and below the table */
/* } */


.chart-container {
    max-width: 100px; /* Set the max width to limit the stretch */
    margin: 0 auto;   /* Center the chart horizontally */
    padding: 20px;    /* Optional padding for some spacing around the chart */
}

